<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/CSS.css">
    <title>{{ producto.nombre }}</title>
</head>
<nav>
    <ul class="navbar">
        <li><a href="otra.html" id="gallery-btn">Galería</a></li>
        <li><a href="html.html" id="about-btn">Acerca de</a></li>
    </ul>
</nav>
<body>
 <seach>
    <form action="https://www.google.com/search?q=html5&rlz=1C1VDKB_enCL1111CL1111&oq=h&gs_lcrp=EgZjaHJvbWUqDggBEEUYJxg7GIAEGIoFMgYIABBFGDwyDggBEEUYJxg7GIAEGIoFMgYIAhBFGDkyBggDEEUYPDIGCAQQRRg8MgYIBRBFGDwyBggGEEUYPDIGCAcQRRg80gEIMTk1M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8">
    <label>
        <input type="search" name="hola" autocomplete="off">
        <img src="" alt="">
    </label>
    <input type="submit" value="buscar">
    </form>
 </seach>
</body>
</html>
  <details name="acordeon" open>
    <summary>Sección 1</summary>
    <div>
        <h1>Nombre del sujeto</h1>
        <img src="" alt="hola">
    </div>
  </details>
  
  <details name="acordeon">
    <summary>Sección 2</summary>
    <div>
      Este es el contenido del segundo acordeón.
    </div>
  </details>
  
  <details name="acordeon">
    <summary>Sección 3</summary>
    <div>
      Este es el contenido del tercer acordeón.
    </div>
  </details>