<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Imágenes</title>
    <link rel="stylesheet" href="css/CSS.css">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="html.html" id="gallery-btn">Galería</a></li>
            <li><a href="hola.html" id="about-btn">Acerca de</a></li>
        </ul>
    </nav>
    <header>
        <h1>Galería de Imágenes</h1>
    </header>
    <main id="main-content"></main>
    <main>
    </main>
    <footer>
        <div class="container">
        <p>&copy; 2024 Galería de Imágenes. Todos los derechos reservados.</p>
    </footer>
</body>
<script src="hola.js"></script>
</html>
