body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

nav a {
    margin: 0 1em;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

#main-content {
    padding: 1em;
}

.image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}

.image-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    text-align: center;
    width: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-box button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
}

.image-box button:hover {
    background-color: #0056b3;
}

.image-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

#cart-container {
    position: fixed;
    top: 0;
    right:0;
    width: 300px;
    height: 100%;
    background-color: white;
    border-left: 1px solid #ddd;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    padding: 1em;
    display: none;
    
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-items button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.3em 0.5em;
    cursor: pointer;
    border-radius: 5px;
}

#cart-items button:hover {
    background-color: #c82333;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1em;
    position:center ;
    bottom: 0;
    width: 100%;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 0.5em;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
